.faq-details {
  max-width: 900px;
  margin: 0 auto;
}

.details-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-btns {
  display: flex;
  gap: 10px;
}

.delete-btn {
  background-color: var(--warning-color);
}

.delete-btn:hover {
  color: var(--light-color);
}
