/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #364156;
  --secondary-color: #7d4e57;
  --dark-color: #212d40;
  --light-color: #fff;
}

body {
  background: var(--dark-color);
  color: var(--light-color);
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #e8a99c;
  text-decoration: none;
}

a:hover {
  color: #d66853;
}
